---
import Layout from '../../layouts/Layout.astro';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts
    .filter((post) => post.data.tags.includes(tag))
    .filter((p) => p.data.draft !== true)
    .sort(
      (a, b) =>
        new Date(b.data.date).valueOf() -
        new Date(a.data.date).valueOf()
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

// const sortedPosts = posts
//   .filter((p) => p.data.draft !== true)
//   .sort(
//     (a, b) =>
//       new Date(b.data.date).valueOf() -
//       new Date(a.data.date).valueOf()
//   );


---

<Layout title="Tags | hokkaido-milk-tea">
  <main>
    <div class="prose prose-bubblegum">
      <h1 class="border-l-8 pl-4 py-2 border-l-lime-300">Posts tagged with #{tag}</h1>
    </div>
    <div class="mt-8">
      <ul class="pl-0">
          {posts.map(post => {
              const formattedDate = new Date(
                  post.data.date
              ).toLocaleDateString("en-us", {
                  timeZone: 'UTC',
                  year: "numeric",
                  month: "short",
                  day: "numeric",
              });
              return (
                  <li class="flex flex-col justify-between md:flex-row md:gap-4">
                      <div>
                          <a class="no-underline" href={`/blog/${post.slug}`}>
                              <span>{post.data.title}</span>
                          </a>
                      </div>
                      <div class="text-text-muted text-sm italic pt-1">
                          <time datetime={post.data.date.toString()}>
                              {formattedDate}
                          </time>
                      </div>
                  </li>
              );
          })}
      </ul>
    </div>
    <div class="mt-10 text-text-muted text-sm italic">
      <a class="inline-flex items-center gap-2" href="/tags">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill="currentColor" d="M6.78 1.97a.75.75 0 0 1 0 1.06L3.81 6h6.44A4.75 4.75 0 0 1 15 10.75v2.5a.75.75 0 0 1-1.5 0v-2.5a3.25 3.25 0 0 0-3.25-3.25H3.81l2.97 2.97a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L1.47 7.28a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"></path></svg>
          Back to Tags
      </a>
    </div>
  </main>
</Layout>